In [1]:
import pandas as pd
import numpy as np

In [2]:
measures_per_country = pd.read_csv("acaps-covid-19-government-measures-dataset.csv")
active_cases = pd.read_csv("country_timeseries_data_newer.csv")

In [40]:
active_cases.loc[active_cases["CountryName"] == "Israel"]

,UpdateId,CountryId,CountryName,CountryCode,Province,City,Latitude,Longitude,ConfirmedCases,ActiveCases,Deaths,Recovered,DateTime,CountriesCountryId,ChangeInActiveCases
0,1,1,Israel,IL,NaN,NaN,31.05,34.85,0,0,0,0,2020-01-22,NaN,0
1,2,1,Israel,IL,NaN,NaN,31.05,34.85,0,0,0,0,2020-01-23,NaN,0
2,3,1,Israel,IL,NaN,NaN,31.05,34.85,0,0,0,0,2020-01-24,NaN,0
3,4,1,Israel,IL,NaN,NaN,31.05,34.85,0,0,0,0,2020-01-25,NaN,0
4,5,1,Israel,IL,NaN,NaN,31.05,34.85,0,0,0,0,2020-01-26,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,150,1,Israel,IL,NaN,NaN,31.05,34.85,20339,4449,304,15586,2020-06-19,NaN,234
150,151,1,Israel,IL,NaN,NaN,31.05,34.85,20633,4742,305,15586,2020-06-20,NaN,293
151,152,1,Israel,IL,NaN,NaN,31.05,34.85,20778,4778,306,15694,2020-06-21,NaN,36
152,153,1,Israel,IL,NaN,NaN,31.05,34.85,21082,5014,307,15761,2020-06-22,NaN,236
153,154,1,Israel,IL,NaN,NaN,31.05,34.85,21512,5335,308,15869,2020-06-23,NaN,321

In [3]:
active_cases["DateTime"] = pd.to_datetime(active_cases["DateTime"])
measures_per_country["date_implemented"] = pd.to_datetime(measures_per_country["date_implemented"])

In [4]:
measures_per_country.head()

,id,country,iso,admin_level_name,pcode,region,category,measure,targeted_pop_group,comments,non_compliance,date_implemented,source,source_type,link,entry_date,alternative_source
0,1,Afghanistan,AFG,NaN,NaN,Asia,Public health measures,Health screenings in airports and border cross...,f,NaN,NaN,2020-02-12,Ministry of Health,Government,https://moph.gov.af/en/moph-held-emergency-mee...,2020-03-14,NaN
1,2,Afghanistan,AFG,Kabul,NaN,Asia,Public health measures,Introduction of quarantine policies,f,NaN,NaN,2020-02-12,Ministry of Health,Government,https://moph.gov.af/en/moph-held-emergency-mee...,2020-03-14,NaN
2,3,Afghanistan,AFG,NaN,NaN,Asia,Public health measures,Awareness campaigns,f,NaN,NaN,2020-02-12,Ministry of Health,Government,https://moph.gov.af/en/moph-held-emergency-mee...,2020-03-14,NaN
3,4,Afghanistan,AFG,NaN,NaN,Asia,Governance and socio-economic measures,Emergency administrative structures activated ...,f,NaN,NaN,2020-02-12,Ministry of Health,Government,https://moph.gov.af/en/moph-held-emergency-mee...,2020-03-14,NaN
4,5,Afghanistan,AFG,NaN,NaN,Asia,Social distancing,Limit public gatherings,f,Nevruz festival cancelled,NaN,2020-03-12,AA,Media,https://www.aa.com.tr/en/asia-pacific/coronavi...,2020-03-14,NaN

In [5]:
measures_per_country.head()

measurecount_per_country = measures_per_country["country"].value_counts()

In [6]:
measurecount_per_country["Sri Lanka"]

107

In [7]:
measures = measures_per_country[["country", "measure", "date_implemented"]]

measure_counts = measures.groupby(["country", "date_implemented"])

In [8]:
measure_counts.size()

country      date_implemented
Afghanistan  2020-02-01           1
             2020-02-12           4
             2020-02-24           1
             2020-03-01           4
             2020-03-12           1
                                 ..
Zambia       2020-03-26          11
Zimbabwe     2020-03-12           1
             2020-03-15           1
             2020-03-24           7
             2020-03-30           1
Length: 1853, dtype: int64

In [9]:

measure_counts_by_date = pd.DataFrame(columns = ["country", "date_implemented", "number_of_measures"])

In [10]:
for name, group in measure_counts:
    measure_counts_by_date = measure_counts_by_date.append({"country": name[0], "date_implemented": name[1], "number_of_measures": group.measure.size}, ignore_index=True)

In [11]:
measure_counts_by_date.sort_values(["country", "date_implemented"]).head(20)

        country date_implemented number_of_measures
0   Afghanistan       2020-02-01                  1
1   Afghanistan       2020-02-12                  4
2   Afghanistan       2020-02-24                  1
3   Afghanistan       2020-03-01                  4
4   Afghanistan       2020-03-12                  1
5       Albania       2020-03-09                  1
6       Albania       2020-03-10                  4
7       Albania       2020-03-11                  1
8       Albania       2020-03-12                  1
9       Albania       2020-03-14                  1
10      Albania       2020-03-16                  1
11      Albania       2020-03-19                  2
12      Albania       2020-03-20                  1
13      Albania       2020-03-22                  5
14      Albania       2020-03-23                  4
15      Albania       2020-04-02                  1
16      Algeria       2020-03-05                  1
17      Algeria       2020-03-12                  3
18      Algeria       2020-03-17                  2
19      Algeria       2020-03-18                  1

In [12]:
measure_counts_by_date["cumulative_num_of_measures"] = measure_counts_by_date.groupby(["country"])["number_of_measures"].apply(lambda x: x.cumsum())

In [62]:
measure_counts_by_date.loc[measure_counts_by_date["country"] == "Israel"].head()

    country date_implemented number_of_measures cumulative_num_of_measures
803  Israel       2020-01-24                  1                          1
804  Israel       2020-01-27                  1                          2
805  Israel       2020-01-29                  1                          3
806  Israel       2020-02-03                  4                          7
807  Israel       2020-02-04                  1                          8

In [41]:
active_cases_by_date = active_cases[["CountryId", "CountryName", "ActiveCases", "DateTime", "ChangeInActiveCases"]]

In [42]:
active_cases_by_date.loc[active_cases_by_date["CountryName"] == "Israel"]

     CountryId CountryName  ActiveCases   DateTime  ChangeInActiveCases
0            1      Israel            0 2020-01-22                    0
1            1      Israel            0 2020-01-23                    0
2            1      Israel            0 2020-01-24                    0
3            1      Israel            0 2020-01-25                    0
4            1      Israel            0 2020-01-26                    0
..         ...         ...          ...        ...                  ...
149          1      Israel         4449 2020-06-19                  234
150          1      Israel         4742 2020-06-20                  293
151          1      Israel         4778 2020-06-21                   36
152          1      Israel         5014 2020-06-22                  236
153          1      Israel         5335 2020-06-23                  321

[154 rows x 5 columns]

In [75]:
from datetime import datetime

def find_num_of_measures(cases_row):
    
    relevant_country = measure_counts_by_date.loc[measure_counts_by_date["country"] == cases_row.CountryName]
    
    if relevant_country.empty:
        return 0
    
    measures_implemented = relevant_country.loc[relevant_country["date_implemented"] <= cases_row.DateTime].max().iloc[3]

    return measures_implemented
    
    

    latest = relevant_dates["date_implemented"].max()
    measures_implemented = 0
    if not pd.isnull(latest):
        measures_implemented = relevant_dates.loc[relevant_dates["date_implemented"] == latest]["cumulative_num_of_measures"].values.astype(int)
   
    return measures_implemented

In [91]:
active_cases_by_date = active_cases_by_date.drop(["implemented_measures", "implemented_meaures"], axis=1)
active_cases_by_date["implemented_measures"] = active_cases_by_date.apply(lambda row: find_num_of_measures(row), axis=1)

In [92]:
active_cases_by_date.loc[active_cases_by_date["CountryName"] == "Israel"].sort_values(["CountryName", "DateTime"]).head(154)

,CountryId,CountryName,ActiveCases,DateTime,ChangeInActiveCases,implemented_measures
10,1,Israel,0,2020-01-02,0,NaN
39,1,Israel,9,2020-01-03,3,NaN
70,1,Israel,5825,2020-01-04,711,NaN
100,1,Israel,6720,2020-01-05,-443,NaN
131,1,Israel,2006,2020-01-06,32,NaN
...,...,...,...,...,...,...
21,1,Israel,0,2020-12-02,0,38.0
50,1,Israel,96,2020-12-03,21,38.0
81,1,Israel,9415,2020-12-04,114,38.0
111,1,Israel,4186,2020-12-05,-219,38.0
142,1,Israel,3207,2020-12-06,188,38.0

In [18]:
categorical_feature_mask = measures.dtypes == object

categorical_cols = measures.columns[categorical_feature_mask].tolist()

In [19]:
categorical_cols

['country', 'measure']

In [20]:
measures_per_country['category'].astype('category')

0                       Public health measures
1                       Public health measures
2                       Public health measures
3       Governance and socio-economic measures
4                            Social distancing
                         ...
4144                         Social distancing
4145                    Public health measures
4146                    Public health measures
4147                         Social distancing
4148                                  Lockdown
Name: category, Length: 4149, dtype: category
Categories (6, object): [Governance and socio-economic measures, Humanitarian exemption, Lockdown, Movement restrictions, Public health measures, Social distancing]

In [21]:
measures = measures_per_country[["country", "measure"]]

In [22]:
measures.dtypes

country    object
measure    object
dtype: object

In [23]:
measures["measure"] = measures["measure"].astype('category')

C:\Users\baris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
measures.dtypes

measures["measure_cats"] = measures["measure"].cat.codes

C:\Users\baris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [26]:
measures['measure_label'] = le.fit_transform(measures['measure'])

C:\Users\baris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
measures.head()

,country,measure,measure_cats,measure_label
0,Afghanistan,Health screenings in airports and border cross...,14,14
1,Afghanistan,Introduction of quarantine policies,17,17
2,Afghanistan,Awareness campaigns,2,2
3,Afghanistan,Emergency administrative structures activated ...,11,11
4,Afghanistan,Limit public gatherings,19,19

In [28]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [1])],remainder = 'passthrough')

In [29]:
measures.head()
measures.drop("measure", axis =1)

          country  measure_cats  measure_label
0     Afghanistan            14             14
1     Afghanistan            17             17
2     Afghanistan             2              2
3     Afghanistan            11             11
4     Afghanistan            19             19
...           ...           ...            ...
4144     Zimbabwe            19             19
4145     Zimbabwe            17             17
4146     Zimbabwe            14             14
4147     Zimbabwe            29             29
4148     Zimbabwe            25             25

[4149 rows x 3 columns]

In [30]:
measure_by_country = measures["measure"]
measures = measures.drop("measure", axis = 1)
columnTransformer.fit_transform(measures)

C:\Users\baris\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

ValueError: For a sparse output, all columns should be a numeric or convertible to a numeric.

In [ ]:
measures_by_country = measures["measure"]

In [ ]:
measures['measure'] = measures.measure.astype('category')

In [ ]:
measures.head()

In [ ]:
measures.dtypes

In [ ]:
enc = OneHotEncoder()

In [ ]:
enc.fit(measures)

In [ ]:
X = enc.transform(measures)

In [ ]:
X

AttributeError: feature_indices_ not found